
<nav class="navbar navbar-expand-lg bg-dark z-3 p-4 position-fixed start-0 end-0 top-0 ">
    <div class="container-fluid d-flex ">




      <a class="navbar-brand">start frame work </a>





      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav pe-3 align-self-end">
  
          <a class="nav-link" routerLink="home"     routerLinkActive="rounded-pill bg-danger ">home</a>
          <a class="nav-link" routerLink="about"     routerLinkActive="rounded-pill bg-danger ">about</a>
          <a class="nav-link " routerLink="portfolio"  routerLinkActive="rounded-pill bg-danger ">portfolio</a>
           <a class="nav-link" routerLink="contact"   routerLinkActive="rounded-pill bg-danger ">contact</a> 
          <a class="nav-link" routerLink="gallary"   routerLinkActive="rounded-pill bg-danger ">gallary</a>
  
  
  
        </div>
      </div>
    </div>
  </nav>