
<!-- contact -->
<section class="">

    <form _ngcontent-iay-c16="" novalidate="" action="" class=" rounded-2 bg-info-subtle  w-50 p-3 mx-auto mt-5 ng-valid ng-dirty ng-touched">
      <!-- <label _ngcontent-iay-c16="" for="userName" class="position-relative top-0 __top">userName : </label> -->
      <input _ngcontent-iay-c16="" id="userName" type="text" placeholder="userName" name="userName"
        class="form-control border-0 border-bottom py-3 my-3 position-relative ng-valid ng-dirty ng-touched">
  
      <!-- <label _ngcontent-iay-c16="" for="userAge" class="position-relative top-0">userAge : </label> -->
      <input _ngcontent-iay-c16="" id="userAge" type="text" placeholder="userAge" name="userName"
        class="form-control border-0 border-bottom py-3 my-3 position-relative ng-valid ng-dirty ng-touched">
  
      <!-- <label _ngcontent-iay-c16="" for="userEmail" class="position-relative top-0 __top">userEmail : </label> -->
      <input _ngcontent-iay-c16="" id="userEmail" type="text" placeholder="userEmail" name="userName"
        class="form-control border-0 border-bottom py-3 my-3 position-relative ng-valid ng-dirty ng-touched">
      <!-- <label _ngcontent-iay-c16="" for="userPassword" class="position-relative top-0 __top">userPassword : </label> -->
      <input _ngcontent-iay-c16="" id="userPassword" type="text" placeholder="userPassword" name="userName"
        class="form-control border-0 border-bottom py-3 my-3 position-relative ng-valid ng-dirty ng-touched">
      <button _ngcontent-iay-c16="" class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
  
  
  </section>
  
 
