


<!-- home -->





<section class=" home d-flex justify-content-center align-content-center pt-5 container-fluid pt-5">

    <div class="cont-home w-50  text-center py-5">
      <div class="w-50  mx-auto pt-5">
  
        <img src="../../assets/avataaars.svg" class="w-75 " alt="">
      </div>
      <h1 class="my-3 ">START FRAMEWORK</h1>
      <span> <i class="fa-solid fa-star fa-2xl"></i> </span>
  
      <h2 class="h6 text-light py-3">Graphic Artist - Web Designer - Illustrator</h2>
    </div>
  </section>
  <!-- around -->
  
  <section class="around d-flex justify-content-lg-around ">
    <div class="my-4 pt-3 text-white text-center">
      <h3 class="">LOCATION</h3>
      <h4 class="h5 ">2215 John Daniel Drive</h4>
      <p>Clark, MO 65243</p>
    </div>
    
    <div class="text-white text-center pt-3">
  
      <h3 class="my-4 ">AROUND THE WEB</h3>
      <i class="fa-brands fa-facebook mx-1 icon "></i>
      <i class="fa-brands fa-twitter mx-1 icon "></i>
      <i class="fa-brands fa-linkedin mx-1 icon"></i>
      <i class="fa-solid fa-globe mx-1 icon  "></i>
  
    </div>
  
  
    <div class="my-4 pt-3 text-white text-center">
      <h3>ABOUT FREELANCER</h3>
      <p>Freelance is a free to use, licensed Bootstrap <br> theme created by Route</p>
    </div>
  </section>
  
  <section>
    <div class="text-center py-3 bg-kohly">
      <p class="text-white">Copyright © Your Website 2021</p>
    </div>
  </section>
  
  